body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.display {
  width: 640px;
  height: 320px;
  border-bottom: 1px solid black;
}

.config {
  width: 640px;
  height: 320px;
}

.config-body {
  margin: 1em;
  font-size: 10pt;
}

.config-title {
  margin-top: 0.5em;
  font-weight: bold;
}

.config-cell {
  margin-top: 0.25em;
}

.container {
  width: 640px;
  height: 350px;
  border: 1px solid black;
  margin: 3em auto;
  text-align: left;
}

.chk-quirk {
  display: block;
}

.menu {
  height: 30px;
  padding-left: 0.25em;
}

.hidden {
  display: none;
}
