/** global settings **/

:root {
  --back-color: #000044;
  --middle-color: #808088;
  --front-color: #FFFFCC;
}

body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  background-color: var(--back-color);
  color: var(--front-color);
}

/** page title **/

.title {
  font-family: monospace;
  font-size: 32pt;
}

/** containers **/

.outer {
  width: 640px;
  margin: 0 auto;
}

.container {
  width: 640px;
  height: 360px;
  border: 1px solid var(--front-color);
  text-align: left;
}

/** canvas display **/

.display {
  width: 640px;
  height: 320px;
}

/** config & help window **/

.window {
  width: 640px;
  height: 360px;
  padding: 1em;
  margin: 0;
  font-size: 10pt;
}

.close-btn {
  margin-top: 1em;
}

/** config window components **/

.config-title {
  margin-top: 0.5em;
  font-weight: bold;
}

.config-cell {
  margin-top: 0.25em;
}

.chk-quirk {
  display: block;
}

/** help window components **/

.keymapping {
  margin: 0;
}

.description {
  max-width: 95%;
  max-height: 48%;
  overflow-y: auto;
}

/** menu bar **/

.menu {
  height: 40px;
  padding-left: 0.5em;
  border-top: 1px solid var(--front-color);
  padding-top: 0.5em;
}

.romselect {
  width: 200px;
}

.startpause {
  width: 4.5em;
}

/** other generic components **/

.btn {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--front-color);
  color: var(--front-color);
  padding: 0.1em 1em;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  border: 1px solid var(--middle-color);
  color: var(--middle-color);
  cursor: default;
}

.hidden {
  display: none;
}

.select {
  background-color: var(--back-color);
  color: var(--front-color);
  border: 1px solid var(--front-color);
}

/** footer **/

.footer {
  margin-top: 1.25em;
  font-size: 9pt;
  color: var(--middle-color);
}

.links {
  color: var(--middle-color);
}

.links:hover {
  color: var(--front-color);
}
